.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  width: 300px;
  flex-wrap: wrap;
  height: 200px;
}